# URL de conexión a la base de datos PostgreSQL
DATABASE_URL=

# Credenciales de integración con Meta (Facebook/Instagram)
META_APP_ID=
META_APP_SECRET=
META_REDIRECT_URI=

# URL del cliente Frontend desplegado en Vercel (Ej: https://mi-app.vercel.app)
CLIENT_URL=

# Token de verificación del Webhook de Meta
META_WEBHOOK_VERIFY_TOKEN=
